# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\projects\3dp\Prusa-Firmware\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
Firmware/Configuration_prusa.h
